.artist-image{
        height: 100px;
        width: 100px;
}

.back-img{
        background-image: url(images/concert-background.JPG);
        background-size: cover;
        height: 700px;
}

.search-form{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
}


@media(max-width: 500px){
        .logo{
                width: 300px;
                height: 300px;
        }
}