.artist-image{
        height: 300px;
        width: 300px;
        margin-bottom: 1rem;
}

.back-img{
        background-image: url('../images/concert-back.jpg');
        background-size: cover;
        height: 700px;
}

.search-form{
        position: relative;
        top: 40%;
        transform: translateY(-50%);
}


@media(max-width: 500px){
        .logo{
                width: 300px;
                height: 300px;
        }
        
        .quote{
                margin-top: 70px;
                margin-bottom: 15px;
        }
        
        .blockquote p{
                font-size: 40px;
        }

        .blockquote-footer{
                font-size: 30px;
        }
        
        .seat-map{
                width: 300px;
                height: 300px;
        }
        
        .venue-img{
                width: 300px;
                height: 300px;
        }
        
        .artist-image{
                justify-content: center!important;
        }
        
        .pic-lay{
                justify-content: center;
        }
        
}


@media(min-width: 501px){
        .quote{
                margin-top: 50px;
                margin-bottom: 15px;
        }
        
        .blockquote p{
        font-size: 90px;
        }

        .blockquote-footer{
                font-size: 50px;
        }
        
        .seat-map{
                width: 670px;
                height: 450px;
        }
        
        .venue-img{
                width: 450px;
                height: 450px;
        }
        
}

.quote{
        font-family: 'Kaushan Script', cursive;
}

body{
        font-family: 'Overlock', cursive;
}

.input-group-text {
        background-color: #ff1a1a;
        border: 1px solid #ced4da;
        border-radius: .50rem;
        color: white;
}

.custom-select {
        border-radius: .50rem;
}

h1{
        color: #ff1a1a;
        margin-bottom: 1.5rem;
}

.seat-map{
        margin-bottom: 1rem;
}

.venue-img{
        margin-bottom: 1rem;
}

#concert-data p{
        font-size: 20px;
        color: #8c8c8c;
}

hr{
        border-width: 3px;
        border-color: #999999; 
        margin-bottom: 3rem;
}

h4{
        display: inline;
}

strong{
        font-family: 'Contrail One', cursive;
        color: black;
}
